@model SQMS.Web.Models.Nisaab

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Nisaab</legend>

    <div class="display-label">NisaabName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NisaabName)
    </div>

    <div class="display-label">PrereqNisaabId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrereqNisaabId)
    </div>

    <div class="display-label">NumPrereqBooks</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumPrereqBooks)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
