@model SQMS.Web.Models.RegionType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RegionType</legend>

    <div class="display-label">RegionType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegionTypeName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RegionTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
