@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@if ( ViewBag.ErrorMessage.Length > 0 )
{
    <h2> @ViewBag.ErrorMessage </h2>
}
else
{
     <h2>
        Sorry, an error occurred while processing your request.
    </h2>
}


